h2= title
form(action=action method="post")
  input(name="email" type="email" placeholder="email")
  input(name="password" type="text" placeholder="password")
  button.btn.btn-info.btn-block.login(type="submit") Connection